.Ads__header {
    font-family: 'Arial', sans-serif;
    padding: 24px;

}

.Header__title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
}

.Header__button {
    padding: 6px 6px;
    font-size: 24px;
    font-weight: 700;
    float: right;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.Ads__content {}

.Ads__box {
    font-family: 'Arial', sans-serif;
    padding: 24px;
    float: left;
}

.Box__info {}

.Box__name {}

.Box__phone {}
}